<div class="jumbotron mt-4">
    <div class="row">



        <div class="row">

            <div class="col">
                <div class="row">


                    <div class=""></div>
                    <img src="assets/images/perfil.jpg" width="200px" height="200px" class="rounded mx-auto d-block"
                        alt="Grediana Rojas">

                </div>
                <div>
                    Teléfono: 935462416
                    <br>
                    Email: grediana@gmail.com
                </div>

            </div>
            <div class="col">Yo soy Grediana Rojas y esta es mi pagina web, voy a ser la mejor programadora del mundo
            </div>
        </div>




    </div>


    <div class="row mt-4">
        <div class="col-4">Linkedin</div>
        <div class="col-4">Github</div>
        <div class="col-4">Gmail</div>
    </div>

</div>